@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Starz 2";
	src: url("../fonts/Starz 2.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Spatha Sans";
	src: url("../fonts/spathasans.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
	
@font-face {
	font-family: "Soft Elegance";
	src: url("../fonts/Soft Elegance.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
  box-sizing: border-box;
}


/*Hides Scrollbar - Keeps functionality*/
html {
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}
-ms-overflow-style: none;
scrollbar-width: none;


/*Links*/
a:link, a:active, a:visited {color: #a1b095; text-decoration: none;}
a:hover {color: black; text-decoration: none;}

/* Body - Contains all the main content (portfolio grid, about info, etc*/
body {
    margin: auto;
    font-family: "Spatha Sans";
    font-size: 12pt;
    line-height: 15pt;
    color: #264c1a;
    background-image: url("../images/mirabell_bg.jpg");
    background-color: #F1F1A9;
    
}

td {
    vertical-align: top;
}

h1 {
    font-family: "Spatha Sans";
    font-size: 18pt;
}

hr {
    
    border: 0px;
    border-top: 2px dashed #264c1a;
    padding-bottom: 10px;
    font-family: "Spatha Sans";
}

/*Header - Logo and Name - Nav*/
.header {
    display: flex;
    margin: auto;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    vertical-align: bottom;
    color: #86bc79;
    background-color: #264c1a;
}

/*Nav*/
.nav {
    /*padding-top: 5px;
    padding-bottom: 10px;*/
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; 
    font-size: 16pt;
    font-weight: normal;
    font-family: "Spatha Sans";
    color: #f1f1aa;
}

.nav  a:link, a:active, a:visited {color: #f4f1d7; text-decoration: none;}
.nav  a:hover {color: #86bc79; text-decoration: none;}

/*stars b/w nav*/ 
.nav h1 {
    /*display: flex;
    justify-content: center;*/
    font-family: "Starz 2"; 
    font-size: 14px;
    line-height: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Main Page- Image Highlight*/
.main  {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 135px;
    max-width: 100%;
    height: auto;  
}

.main img {
    margin: auto;
    max-width: 100%;
}


.main a:link, a:active {color: #a1b095; text-decoration: none;}
.main a:visited {color: #a1b095; text-decoration: none;}
.main a:hover {color: black; text-decoration: none;}


/*Portfolio + Portfolio Descriptionsc - May also be applied to About page*/
.portfolio {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 135px;  
    max-width: 100%;
    height: auto;     
}

.portfolio h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    text-align: center;

}

.portfolio h2 {
	font-family: "Starz 2"; 
	font-size: 16px;
	display: inline;
	padding-left: 12px;
	padding-right: 12px;
	color: #264c1a;
}

.portfolio h3 {
	font-family: "Spatha Sans";
	font-size: 18px;
	margin-top: 18px;
	color: #264c1a;
}


/*FOR ABOUT ME DESCRIPTION*/
.about div {
    display: block;
    margin: auto;
    max-width: 500px;
}

.about h2 {
    margin-bottom: 18px;
    display: block;
	font-family: "Soft Elegance"; 
	font-size: 16px;
	color: #264c1a;
}

.about p {
	margin: auto;
    display: flex;
    text-align: left;
    font-family: "Soft Elegance";
	font-size: 12pt;
    padding-top: 12px;  
    color: #264c1a;
}

.portfolio img {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

/*image links on the about page (not including the Open/Closed Commissions status*/
.about img{
    display: inline;
    justify-content: center;
    box-sizing: border-box;
}

.about a:link, a:active, a:visited {color: #f4f1d7; text-decoration: none;}
.about a:hover {opacity: .5; text-decoration: none;}

/*images in portfolio gallery*/
.hidden{
    display: none; 
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0.2em;
  position: relative;
}

.thumbnail {
	width: 200px;
	height: 200px;
}

span.text-content {
  background: rgba(134,188,121,0.75); 
  color: white;
  font-size: 14pt;
  font-family: "Spatha Sans";
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;  
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 10pt;

}

.image h2 {
    font-family: 'Muli', Arial;
    margin: 0px;
    margin-left: 0px;
}

.image a:link, a:active {color: #a1b095; text-decoration: none;}
.image a:visited {color: #a1b095; text-decoration: none;}
.image a:hover {color: black; text-decoration: none;}


/*TEST - MULTIPLE SCREEN SIZES*/
/*
@media (max-width: 768px) {
    }
    ul.img-list li.coming-soon {
        display: none;
    }
    ul.img-list li {
        max-width: 45% !important;
        height: auto;
    }
    ul.img-list li img {
        width: 100%;
        height: auto;
    }
    span.text-content {
      font-size: 14pt;
      font-family: "Spatha Sans";
      height: auto;
      left: 0;
      position: absolute;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
    }
}

@media (min-width: 768px) {
    div.gallery {
    margin-right: 80px;
    margin-left: 80px;
    }
}*/


/*Footer*/
.footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #86bc79;
    background-color: #264c1a;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;    
    font-family: "Spatha Sans";
}

.footer img {
    display: inline;
    justify-content: center;
    box-sizing: border-box;
    width: 40px;
    /*position: relative*/
}

.footer a:link, a:active, a:visited {color: #f4f1d7; text-decoration: none;}
.footer a:hover {opacity: .5; text-decoration: none;}

/*stars b/w footer links*/ 
.footer h1 {
	font-family: "Starz 2"; 
    display: inline;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	color: #f1f1aa;
}
/*
.nav h1 {
    /*display: flex;
    justify-content: center;*/
    /*font-family: "Starz 2"; 
    font-size: 14px;
    line-height: 8px;
    padding-left: 10px;
    padding-right: 10px;*/

.fotgal {border:1px; border-thickness: 1px; border-color: #FF63E7;
border-style: solid;}
A:visited .fotgal {border:1px; border-thickness: 1px; border-color: #FF63E7; border-style: solid}
A:hover .fotgal, A:active .fotgal {border:1px; border-thickness: 1px;
border-color: black; border-style: solid}*/





