@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Starz 2";
	src: url("../fonts/Starz 2.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Spatha Sans";
	src: url("../fonts/spathasans.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
	
@font-face {
	font-family: "Soft Elegance";
	src: url("../fonts/Soft Elegance.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
  box-sizing: border-box;
}


/*Hides Scrollbar - Keeps functionality*/
html {
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}
-ms-overflow-style: none;
scrollbar-width: none;


/*Links*/
a:link, a:active, a:visited {color: #a1b095; text-decoration: none;}
a:hover {color: black; text-decoration: none;}

/* Body - Contains all the main content (portfolio grid, about info, etc*/
body {
    margin: auto;
    font-family: "Spatha Sans";
    font-size: 12pt;
    line-height: 15pt;
    color: #628c54;
    background-color: #f4f1d7;
}

td {
    vertical-align: top;
}

h1 {
    font-family: "Spatha Sans";
    font-size: 18pt;
}

hr {
    
    border: 0px;
    border-top: 2px dashed #628c54;
    padding-bottom: 10px;
    font-family: "Spatha Sans";
}

/*Header - Logo and Name - Nav*/
.header {
    /*padding: 0px;
    height: 15px;
    width: 100%;
    font-size: 10pt;
    position: fixed;
    padding-top: 10px;
    top; 0px;
    z-index: 1;
    vertical-align: bottom;
    color: #86bc79;
    background-color: #264c1a;
    font-family: "Spatha Sans";*/
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    vertical-align: bottom;
    color: #86bc79;
    background-color: #264c1a;
    font-family: "Spatha Sans";
    font-size: 10pt;
}

/*Nav*/
.nav {
    /*padding-top: 5px;
    padding-bottom: 10px;*/
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; 
    font-size: 16pt;
    font-weight: normal;
    font-family: "Spatha Sans";
    color: #f1f1aa;
}

.nav  a:link, a:active, a:visited {color: #f4f1d7; text-decoration: none;}
.nav  a:hover {color: #86bc79; text-decoration: none;}

/*stars b/w nav*/ 
.nav h1 {
    /*display: flex;
    justify-content: center;*/
    font-family: "Starz 2"; 
    font-size: 14px;
    line-height: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Main Page- Image Highlight*/
.main  {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 135px;
    max-width: 100%;
    height: auto;  
}

.main img {
    margin: auto;
    max-width: 100%;
}


.main a:link, a:active {color: #a1b095; text-decoration: none;}
.main a:visited {color: #a1b095; text-decoration: none;}
.main a:hover {color: black; text-decoration: none;}

/*RE-DO ABOUT SECTION IN ABOUT.HTML -START REMOVING THE WHOLE ABOUT CLASS, THEN REPLACE THE ABOUT CLASS TO PORTFOLIO CLASS IN THE ABOUT SECTION*/
.about  {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 135px;
    padding-bottom: 135px;
    padding-left: 135px;
    padding-right: 155px;    
    max-width: 100%;
    height: auto;     
     
}

.about a:link, a:active {color: #a1b095; text-decoration: none;}
.about a:visited {color: #a1b095; text-decoration: none;}
.about a:hover {color: black; text-decoration: none;}

.about h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    text-align: center;

	
}

/*stars b/w text*/
.about h2 {
	font-family: "Starz 2"; 
	font-size: 16px;
	display: inline;
	padding-left: 12px;
	padding-right: 12px;
	color: #628c54;
}

.about h3 {
	font-family: "Spatha Sans";
	font-size: 12pt;
	margin-top: 0px;
	color: #86bc79
}
/*
.about hr {
    text-align: center;
    width: 850px;
}*/

.about h4 {
	margin-top: 10px;
	font-family: "Soft Elegance";
	color: #86bc79;
	font-size: 12pt;
	text-align: justify;
	line-height: 20px;
    padding-right: 10px;
}

.about p {
    margin-top: 10px;
	font-family: "Soft Elegance";
	color: #86bc79;
	font-size: 12pt;
	text-align: justify;
	line-height: 20px;
    padding-right: 10px;   
}

.about para{
    width: 425px;
    float: left;
    color: #86bc79;
    display: block;
    padding-right: 25px;
    padding-bottom: 10px;
}

/*full block for img = 400 width*/
.about img{
    padding-top: 50px;
    padding-bottom: 20px;
    float: left;
    display: block;
}

.about ul{ 
    text-align: left;
    font-family: "Soft Elegance";
}

/*Portfolio + Portfolio Descriptions*/
.portfolio {

    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 135px;
    padding-bottom: 135px;
    padding-left: 135px;
    padding-right: 155px;    
    max-width: 100%;
    height: auto;     
    
/*padding-top: 130px;
padding-bottom: 60px;
width: 850px;*/

}

.portfolio h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    text-align: center;

}

.portfolio h2 {
	font-family: "Starz 2"; 
	font-size: 16px;
	display: inline;
	padding-left: 12px;
	padding-right: 12px;
	color: #628c54;
}

.portfolio h3 {
	margin-top: 3px;
	font-family: "Soft Elegance";
	color: #86bc79;
	font-size: 12pt;
	text-align: left;
	line-height: 20px;
	padding-bottom: 8px;
}

.portfolio p {
	font-family: "Soft Elegance";
	color: #86bc79;
	font-size: 12pt;
	text-align: left;
	line-height: 5px;
}

.portfolio img {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

/*images in portfolio gallery*/
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0.2em;
  position: relative;
}

.thumbnail {
	width: 200px;
	height: 200px;
}

span.text-content {
  background: rgba(134,188,121,0.75); 
  color: white;
  font-size: 14pt;
  font-family: "Spatha Sans";
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;  
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

.image {
margin-left: auto;
margin-right: auto;
margin-top: 10px;
font-size: 10pt;

}

.image h2 {
font-family: 'Muli', Arial;
margin: 0px;
margin-left: 0px;
}

.image a:link, a:active {color: #a1b095; text-decoration: none;}
.image a:visited {color: #a1b095; text-decoration: none;}
.image a:hover {color: black; text-decoration: none;}

/*Next and Previous Buttons*/
.nextbutton {
position: fixed;
top: 50%;
right: 20px;
float: right;
}

.nextbutton a { display:block; width: 100px; height: 100px; background: url("../images/next.png") 0 0 no-repeat; }
.nextbutton a:hover { opacity: 0.5; }
.nextbutton a:active { opacity: 0.5; transform: translateY(5px); }

.prevbutton {
position: fixed;
top: 50%;
left: 20px;
float: left;
}

.prevbutton a { display:block; width: 100px; height: 100px; background: url(../images/prev.png) 0 0 no-repeat; }
.prevbutton a:hover { opacity: 0.5; }
.prevbutton a:active { opacity: 0.5; transform: translateY(4px);}

/*TEST - MULTIPLE SCREEN SIZES*/



/*@media (max-width: 768px) {
    ul.img-list li.coming-soon {
        display: none;
    }
    ul.img-list li {
        max-width: 50% !important;
        height: auto;
    }
    ul.img-list li img {
        width: 100%;
        height: auto;
    }
    span.text-content {
      font-size: 14pt;
      font-family: "Spatha Sans";
      height: auto;
      left: 0;
      position: absolute;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
    }
}

@media (min-width: 768px) {
    div.portfolio {
    margin-right: 80px;
    margin-left: 80px;
    }
}


/*Footer*/
.footer {
height: 50px;
width: 100%;
position: fixed;
bottom: 0;
color: #86bc79;
background-color: #506b41;
padding-top: 10px;
padding-bottom: 5px;
font-family: "Spatha Sans";
}

.footer img {
    display: inline;
    justify-content: center;
    box-sizing: border-box;
    width: 40px;
    /*position: relative*/
}

.footer a:link, a:active, a:visited {color: #f4f1d7; text-decoration: none;}
.footer a:hover {opacity: .5; text-decoration: none;}

/*stars b/w footer links*/ 
.footer h1 {
	font-family: "Starz 2"; 
	font-size: 16px;
	display: inline;
    justify-content: center;
    box-sizing: border-box;
	padding-left: 12px;
	padding-right: 12px;
	color: #f1f1aa;
}

.fotgal {border:1px; border-thickness: 1px; border-color: #FF63E7;
border-style: solid;}
A:visited .fotgal {border:1px; border-thickness: 1px; border-color: #FF63E7; border-style: solid}
A:hover .fotgal, A:active .fotgal {border:1px; border-thickness: 1px;
border-color: black; border-style: solid}*/





